.projects {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .project{
        margin-bottom: 1rem;
        max-width: 450px;
        .description {
            max-height: 150px;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
           
        }
    }
}

.projectsHeader {
    margin: 2rem 0;
}
