.projects {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .project{
        margin-bottom: 1rem;
        max-width: 450px;
        .description {
            max-height: 150px;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
           
        }
    }
}

.projectsHeader {
    margin: 2rem 0;
}

.project:hover{
    box-shadow: 0 0 30px rgba(15, 6, 139, 0.4);

    .title{
        color: #18248f;
    }

}