.css-typing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.avatar {
  border-radius: 1%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  background-image: url(../../assets/pictures/skinmc-avatar.png);
  background-size: 100%;
  background-repeat: no-repeat;
  &:hover {
    background-image: url(../../assets/pictures/25042024-M.C-Dima_DSCF6963.png);
    background-size: 100%;
    
    
    transform: scale(1.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
}

.typewriter-container {
  font-size: 36px;
  color: #18248f;
  font-weight: bold;  
  cursor: ".";
}

@media screen and (max-width: 620px) {
  .css-typing {
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    height: 85vh;
    .typewriter-container, .text {
      font-size: 18px;
    }

  }
  .avatar{
    width: 150px;
    height: 150px;
    :hover {
      transform: scale(1.5);
    }
  }
  



  
}