.css-typing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.avatar {
  border-radius: 20%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
}

.typewriter-container {
  font-size: 36px;
  color: #18248f;
}