.contact {
  min-height: 80vh;
  .icon-list {
    max-width: 100%;
    padding-bottom: 20px;

    .d-flex {
      flex-wrap: nowrap;
    }

    .d-flex.align-items-center {
      white-space: nowrap;
      margin-right: 20px;
    }
  }
}

.contact-icon{
  display: flex;
  align-items: center;
  gap: 10px;
  a{
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  .contact-icon{
    flex-direction: column;
    gap: 0;
    
    justify-items: center;
    span{
      font-size: 9px;
    }
  }
  
}