.contact {
  .icon-list {
    max-width: 100%;
    overflow-x: auto;
    padding-bottom: 20px;

    .d-flex {
      flex-wrap: nowrap;
    }

    .d-flex.align-items-center {
      white-space: nowrap;
      margin-right: 20px;
    }
  }
}